body {
    margin: 20px;
}

.hidden {
    display: none;
}

.photo-card {
    display: block;
    width: 220px;
    border: solid black 1px;
}

img {
    width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}